h1 {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);

}

#weather-description {
    text-transform: capitalize;
    color: black;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: center;
}


#search-form {
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

#cityInput {
    border-radius: 20px;
}


.weather-app {
    background-color: transparent;

}



#weather-app-contents {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 20px;
    width: 80%;
}

#weather-app-forecast {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 20px;
    width: 80%;

}


@media (max-width: 600px) {

    #weather-app-contents,
    #weather-app-forecast {
        max-width: 90%;
        margin: 20px auto;
        box-shadow: 0 10px 20px rgba(65, 50, 100, 0.08);
        border-radius: 12px;
        padding: 20px;
        width: 90%;
    }
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#humidity {
    display: flex;
    align-items: center;
}


#wind-info {
    display: flex;
    align-items: center;

}

#humidity-text,
#wind-text {
    color: #226EFD;
    margin-left: 5px;

}


#weather-temperature-max {
    color: #226EFD;

}

#weather-temperature-mini {
    color: #226EFD;
    opacity: 0.6;
}

#weather-temperature {
    font-size: 88px;
}

#weather-app-datetime {
    font-size: 20px;
}

.weather-app-temperature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.weather-icon {
    width: 50px;
    height: auto;

}

.weather-temperature {
    font-size: 24px;
    line-height: 88px;
    font-weight: bold;
}

.weather-unit {
    margin-bottom: 23px;
    font-size: 28px;
}

#weather-daily-icon {
    width: 60px;
    height: auto;
}

#weather-daily {
    font-size: 20px;
    margin-bottom: 24px;

}

#weather-feels {
    color: #226EFD;
}

.my-info {
    text-align: center;
}